/* basic element styles */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #664229;
    color: #B99976;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 48px;
}

h3 {
    font-size: 32px;
}



img {
    height: auto;
    width: 400px;
}
/* index.html styles */
.recipe-list {
    list-style-type: none;
    font-size: 24px;
}

.recipe-list li a, .recipe-list li a:visited{
    color: #B99976
}

/* recipe styles */
.p-desc {
    text-align: center;
    font-weight: 600;
}